In [1]:
import pandas as pd
import numpy as np

In [3]:
dt = pd.read_csv("Diabities-210331-154610.csv")
dt.head(10)

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
5,NaN,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0
6,NaN,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
7,NaN,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0
8,NaN,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0
9,NaN,8.0,125.0,96.0,0.0,0.0,0.0,0.232,54.0,1.0

In [4]:
#Analysing
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                0 non-null      float64
 1   Pregnancies               768 non-null    float64
 2   Glucose                   768 non-null    float64
 3   blood pressure            768 non-null    float64
 4   skin thickness            768 non-null    float64
 5   Insulin                   768 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    float64
 9   Outcome                   768 non-null    float64
dtypes: float64(10)
memory usage: 60.2 KB

In [5]:
dt.isnull().sum()

Unnamed: 0                  769
Pregnancies                   1
Glucose                       1
blood pressure                1
skin thickness                1
Insulin                       1
BMI                           1
DiabetesPedigreeFunction      1
Age                           1
Outcome                       1
dtype: int64

In [6]:
dataset = dt.dropna(how='all')

In [7]:
dataset = dataset.dropna(how='all',axis=1)

In [8]:
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
blood pressure              0
skin thickness              0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
dataset.head(10)

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
5,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0
6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
7,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0
8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0
9,8.0,125.0,96.0,0.0,0.0,0.0,0.232,54.0,1.0

In [10]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [11]:
#spliting data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=25)

In [12]:
#Random forest
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=6,criterion='entropy',random_state=0)
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

In [13]:
from sklearn.metrics import accuracy_score
acc_ran = accuracy_score(y_pred,y_test)*100
print("Accuracy : ",acc_ran)

Accuracy :  88.0

In [14]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=1000)
logreg.fit(x_train, y_train)
y_pred1=logreg.predict(x_test)
acc_logr=accuracy_score(y_pred1,y_test)*100
print("Accuracy : ",acc_logr)

Accuracy :  96.0

In [15]:
#KNeighbour
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(x_train,y_train)
y_pred2 = knn.predict(x_test)
acc_knn=accuracy_score(y_pred2,y_test)*100
print("Accuracy : ",acc_knn)

Accuracy :  80.0